<link
  href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- <button (click)="convertToPdf()">Convert To Pdf</button> -->
<button (click)="getPDF()">Multiple Pages Pdf</button>
<div class="container printformClass" id="printIt">
  <!-- <div class="row">
    <billing-info></billing-info>
  </div> -->

  <div class="row">
    <div class="col-md-12">
      <!-- <div class="panel panel-default"> -->
        <!-- <div class="panel-heading">
    				<h3 class="panel-title"><strong>Order summary</strong></h3>
    			</div> -->
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <td><strong>Item</strong></td>
                  <td class="text-center"><strong>Price</strong></td>
                  <!-- <td class="text-center"><strong>Quantity</strong></td>
                  <td class="text-right"><strong>Totals</strong></td> -->
                </tr>
              </thead>
              <tbody>
                <!-- foreach ($order->lineItems as $line) or some such thing here -->
                <tr *ngFor="let item of  items">
                  <td>{{item.name}}</td>
                  <td class="text-center">{{item.title}}</td>
                </tr>
                <tr>
                  <td class="thick-line"></td>
                  <td class="thick-line"></td>
                  <td class="thick-line text-center">
                    <strong>Subtotal</strong>
                  </td>
                  <td class="thick-line text-right">$670.99</td>
                </tr>

                <tr>
                  <td class="no-line"></td>
                  <td class="no-line"></td>
                  <td class="no-line text-center"><strong>Shipping</strong></td>
                  <td class="no-line text-right">$15</td>
                </tr>
                <tr>
                  <td class="no-line"></td>
                  <td class="no-line"></td>
                  <td class="no-line text-center"><strong>Total</strong></td>
                  <td class="no-line text-right">$685.99</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      <!-- </div> -->
    </div>
  </div>
</div>
